<%= form_for(@productionreason) do |f| %>
  <% if @productionreason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productionreason.errors.count, "error") %> prohibited this productionreason from being saved:</h2>

      <ul>
      <% @productionreason.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mc_id %><br />
    <%= f.text_field :mc_id %>
  </div>
  <div class="field">
    <%= f.label :seq %><br />
    <%= f.number_field :seq %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
