<p id="notice"><%= notice %></p>

<p>
  <b>Mc:</b>
  <%= @productionreason.mc_id %>
</p>

<p>
  <b>Seq:</b>
  <%= @productionreason.seq %>
</p>

<p>
  <b>Description:</b>
  <%= @productionreason.description %>
</p>


<%= link_to 'Edit', edit_productionreason_path(@productionreason) %> |
<%= link_to 'Back', productionreasons_path %>
