<p id="notice"><%= notice %></p>

<p>
  <b>Slukey:</b>
  <%= @slitter.slukey %>
</p>

<p>
  <b>Slitteddate:</b>
  <%= @slitter.slitteddate %>
</p>

<p>
  <b>Thickness:</b>
  <%= @slitter.thickness %>
</p>

<p>
  <b>Machine:</b>
  <%= @slitter.machine %>
</p>

<p>
  <b>Slittedcoil:</b>
  <%= @slitter.slittedcoil %>
</p>

<p>
  <b>Slitterdweight:</b>
  <%= @slitter.slitterdweight %>
</p>


<%= link_to 'Edit', edit_slitter_path(@slitter) %> |
<%= link_to 'Back', slitters_path %>
