<p id="notice"><%= notice %></p>

<p>
  <b>Displaydate:</b>
  <%= @finishgood.displaydate %>
</p>

<p>
  <b>Unita:</b>
  <%= @finishgood.unita %>
</p>

<p>
  <b>Unita2:</b>
  <%= @finishgood.unita2 %>
</p>

<p>
  <b>Unitb:</b>
  <%= @finishgood.unitb %>
</p>

<p>
  <b>Unitc:</b>
  <%= @finishgood.unitc %>
</p>

<p>
  <b>Unitd:</b>
  <%= @finishgood.unitd %>
</p>

<p>
  <b>Procdate:</b>
  <%= @finishgood.procdate %>
</p>

<p>
  <b>Extprogcode:</b>
  <%= @finishgood.extprogcode %>
</p>

<p>
  <b>Prodname:</b>
  <%= @finishgood.prodname %>
</p>

<p>
  <b>Mach:</b>
  <%= @finishgood.mach %>
</p>


<%= link_to 'Edit', edit_finishgood_path(@finishgood) %> |
<%= link_to 'Back', finishgoods_path %>
