<h1>Listing productions</h1>

<table>
  <tr>
    <th>Plannedtime</th>
    <th>Staff</th>
    <th>Fg ukey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productions.each do |production| %>
  <tr>
    <td><%= production.plannedtime %></td>
    <td><%= production.staff %></td>
    <td><%= production.fg_ukey %></td>
    <td><%= link_to 'Show', production %></td>
    <td><%= link_to 'Edit', edit_production_path(production) %></td>
    <td><%= link_to 'Destroy', production, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Production', new_production_path %>
