<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @product.id %>
</p>

<p>
  <b>Displayid:</b>
  <%= @product.displayid %>
</p>

<p>
  <b>Nameeng:</b>
  <%= @product.nameeng %>
</p>

<p>
  <b>Nameth:</b>
  <%= @product.nameth %>
</p>

<p>
  <b>Nameinit:</b>
  <%= @product.nameinit %>
</p>

<p>
  <b>Size:</b>
  <%= @product.size %>
</p>

<p>
  <b>Thmin:</b>
  <%= @product.thmin %>
</p>

<p>
  <b>Threp:</b>
  <%= @product.threp %>
</p>

<p>
  <b>Film:</b>
  <%= @product.film %>
</p>

<p>
  <b>Estw:</b>
  <%= @product.estw %>
</p>

<p>
  <b>Wmin:</b>
  <%= @product.wmin %>
</p>

<p>
  <b>Wmax:</b>
  <%= @product.wmax %>
</p>

<p>
  <b>Acctw:</b>
  <%= @product.acctw %>
</p>

<p>
  <b>Pcspack:</b>
  <%= @product.pcspack %>
</p>

<p>
  <b>Pcstruck:</b>
  <%= @product.pcstruck %>
</p>

<p>
  <b>Wagekg:</b>
  <%= @product.wagekg %>
</p>

<p>
  <b>Wdisplay:</b>
  <%= @product.wdisplay %>
</p>

<p>
  <b>Inprod:</b>
  <%= @product.inprod %>
</p>

<p>
  <b>Pct:</b>
  <%= @product.pct %>
</p>

<p>
  <b>Vat:</b>
  <%= @product.vat %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
